.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .primary {
    color: #F5F5F5;
 }
nav {
    margin: 30px 160px;
}
.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
}
.navBtn {
    padding: 15px 30px;
    font-size: 18px;
    color: #006A50;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    border: 1px solid #006A50;
}
.banner {
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin: 0 160px;
    border-radius: 24px;
    padding: 117px 60px;
}
.bannerTitle {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
.bannerHeading {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
}
.bannerBtn {
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: #006A50;
    margin-top: 24px;
    border-radius: 8px;
}
.pillarContent {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.pillars {
    margin: 80px 160px;

}
.pillarsHeading{
    color: rgba(14, 14, 14, 1);
}
.pillar {
    padding: 25px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.pillarTitle {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.pillar img {
    margin-bottom: 24px;
}
.pillerDetails {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.visions {
    margin: 80px 160px;
}
.visionContent {
    display: flex;
    gap: 24px;
}
.visionHeading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E !important
}
.visionTitle {
    font-size: 16px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.vision {
    border: none;
    padding: 32px;
    border-radius: 16px;
    background-color: #548ff548;
}
.vision.vision2 {
    background-color: #09a15d81;
}
.vision.vision3 {
    background-color: #ffc4397b;
}
.vision img {
    padding: 20px 0;
}
.visionsHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 1);
}
.visionsDetails {
    font-size: 16px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.visionBtn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
}
.visionBtn.visionBtn1 {
    background-color: #5490F5;
    color: #FFFFFF;
}
.visionBtn.visionBtn2 {
    background-color: #09A15C;
    color: #FFFFFF;
}
.visionBtn.visionBtn3 {
    background-color: #FFC239;
    color: #FFFFFF;
}
.speech{
    /* position: relative; */
    margin: 80px 160px;
}
/* .speech img {
    padding-left: 24px;
    padding-top: 24px;
} */
.speechImg {
 position: relative;
}
.speechImg img {
    position: absolute;
    padding: 24px;
}
.speechContent {
    /* position: absolute; */
    top: 5%;
    border: 1px solid rgba(241, 241, 243, 1);
    border-radius: 8px;
    padding: 48px 24px;
}
.speechDetails {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-weight: 400;
}
.speechHeading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 1)
}
.speechtitle {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
}
.news {
    margin: 80px 160px;
}
.newsHeading {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.newsTitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.satelite {
    display: flex;
    margin: 80px 160px;
    justify-content: space-around;
}
.satelite img {
    border-radius: 24px;
}
.sateliteHeading{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.sateliteContent {
    margin: 20px 32px;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    display: block;
    margin-bottom: 12px;
    margin-top: 20px;
}
.sateliteDesc {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.sateliteBtn {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    margin: 32px 0;
}