body {
     background-color: #F5F5F5; 
    
 }
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 30px 160px;
}
.navContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo {
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
}
.navBtn {
    padding: 15px 30px;
    font-size: 18px;
    color: #006A50;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #006A50;
}
.navBtn:hover{
    background-color: #006A50;
    color: #FFFFFF;
    transition: 0.4s ease;
}
.banner {
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin: 0 160px;
    border-radius: 24px;
    padding: 117px 60px;
}
.bannerTitle {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
.bannerHeading {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
}
.bannerBtn {
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.bannerBtn:hover {
    background: none;
    color: rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    transition: 0.4s ease;
}
.pillarContent {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}
.pillars {
    margin: 80px 160px;

}
.pillarsHeading{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
}
.pillar {
    padding: 25px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
}
.pillarTitle {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.pillar img {
    margin-bottom: 24px;
}
.pillerDetails {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.visions {
    margin: 80px 160px;
}
.visionContent {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.visionHeading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E !important
}
.visionTitle {
    font-size: 16px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.vision {
    border: none;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision.vision2 {
    background-color: rgba(198, 228, 214, 1);
}
.vision.vision3 {
    background-color: rgba(247, 235, 207, 1);
}
.vision img {
    padding: 20px 0;
}
.visionsHeading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 1);
}
.visionsDetails {
    font-size: 16px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.visionBtn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.visionBtn.visionBtn1 {
    background-color: #5490F5;
    color: #FFFFFF;
    border: 1px solid #5490F5;
    cursor: pointer;
}
.visionBtn.visionBtn2 {
    background-color: #09A15C;
    color: #FFFFFF;
    border: 1px solid #09A15C;
    cursor: pointer;
}
.visionBtn.visionBtn3 {
    background-color: #FFC239;
    color: #FFFFFF;
    border: 1px solid #FFC239;
    cursor: pointer;
}
.visionBtn.visionBtn1:hover{
    background: none;
    border: 1px solid #5490F5;
    color: #5490F5;
    transition: 0.4s ease;
}
.visionBtn.visionBtn2:hover{
    background: none;
    border: 1px solid #09A15C;
    color: #09A15C;
    transition: 0.4s ease;
}
.visionBtn.visionBtn3:hover{
    background: none;
    border: 1px solid #FFC239;
    color: #FFC239;
    transition: 0.4s ease;

}
.speech{
    margin: 80px 160px;
}
.speechImg {
 position: relative;
}
.speechImg img {
    position: absolute;
    padding: 24px;
}
.speechContent {
    top: 5%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 48px 24px;
}
.speechDetails {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-weight: 400;
}
.speechHeading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 1)
}
.speechtitle {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
}
.news {
    margin: 80px 160px;
}
.newsHeading {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.newsTitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.satelite {
    display: flex;
    margin: 80px 160px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 24px;
}
.sateliteImg img{
    border-radius: 24px;
}
.sateliteHeading{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.sateliteContent {
    margin: 20px 32px;
}
.dateTime{
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
    margin-top: 20px;
}
.sateliteDesc {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.sateliteBtn {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 13px 26px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    margin: 32px 0;
    border: 1px solid rgba(0, 106, 80, 1);
    cursor: pointer;
}
.sateliteBtn:hover {
    background: none;
    color: rgba(0, 106, 80, 1);
    border: 1px solid rgba(0, 106, 80, 1);
    transition: 0.4s ease;
    
}
.donates{
    margin: 80px 160px;
}
.donateTitle{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    text-align: center;
}
.donateDesc {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    margin-bottom: 24px;
}
.donateContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.donate{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 50px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(198, 228, 214, 1);
    cursor: default;
}
.donate:hover{
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid rgba(198, 228, 214, 1);
    
}
.donate.donate2 {
    background-color: rgba(198, 228, 214, 1);
}
.amountContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.amountContent input {
    height: 70px;
    width: 1200px;
    text-align: center;
    border: none;
    outline: none;
    color: rgba(14, 14, 14, 0.3);
    font-weight: 400;
}
.amountBtn button {
    margin-top: 32px;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    transition: 0.4s ease;
    color: rgba(255, 255, 255, 1);  
    border: 1px solid #006A50;
    cursor: pointer;
}
.amountBtn button:hover {
    background-color: #FFFFFF;
    border: 1px solid #006A50;
    color: #006A50;
}
.amountBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe {
    background-color: #C6E4D6;
    margin: 80px 160px;
    border-radius: 24px;
    height: 395px;
    width: auto;
    padding-top: 80px;
}
.subscribeHeading {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-top: 16px;
    text-align: center;
}
.subscribeTitle {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
.emailContent {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form input[type='email']{
    font-size: 16px;
    font-weight: 400;
    color: rgb(14, 14, 14);
    padding: 18px 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    width: 602px;
    height: 55px;
    position: relative;
}
.emailBtn {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
    height: 56px;
    position: absolute;
    cursor: pointer;
}
.emailBtn:hover {
    border: 1px solid rgba(0, 106, 80, 1);
    transition: 0.4s ease;
    background: none;
    color: rgba(0, 106, 80, 1);
}
.emailFooter {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
.footerHeading h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    text-align: center;
    
}
footer hr {
    height: 1px;
    margin: 30px 160px;
}
.icons {
   text-align: center;
   margin-bottom: 40px;
}
.icons img {
    padding: 10px;
}
.hide {
    display: none;
}

@media screen and (max-width: 576px) {
   nav {
    margin: 23px 22px;
  }
  .navLogo {
    color: #0E0E0E;
    font-size: 20px;
    font-weight: bold;
  }
  .navBtn {
    padding: 15px 20px;
    font-size: 15px;
    color: #006A50;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #006A50;
}
  .banner {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    margin: 5px 4px;
    border-radius: 24px;
    padding: 23px 29px;
  }
  .bannerImage {
    display: none;
  }
  .bannerHeading {
    font-size: 35px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 16px;
}
.bannerTitle {
    font-size: 19px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
.bannerBtn {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 10px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
  .pillarContent {
    flex-direction: column;
  }
  .pillars {
    margin: 35px 20px;
}
.pillarsHeading {
    color: rgba(14, 14, 14, 1);
    font-size: 25px;
    font-weight: bold;
}
.visionContent {
    flex-direction: column;
}
.visionHeading {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #0E0E0E !important;
}
.visions {
    margin: 50px 25px;
}
.speech {
    margin: 50px 25px;
}
.news {
    margin: 40px 45px;
}
.satelite {
    flex-direction: column;
    margin: 20px 10px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px;
    border-radius: 24px;
    flex-direction: column;
}
.sateliteImg img{
    width: 100%;
}
.sateliteHeading {
    font-size: 25px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.donates {
    margin: 55px 45px;
}
.donateContent {
    flex-direction: column;
}
.donateTitle {
    font-size: 35px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    text-align: center;
    margin-bottom: 15px;
}
.donate {
    font-size: 20px;
}   
.amountContent input {
   height: 40px;
   width: 250px;
}
.subscribe {
    background-color: #C6E4D6;
    margin: 45px 15px;
    border-radius: 24px;
    height: 395px;
    width: auto;
    padding-top: 30px;
}
.subscribeHeading {
    font-size: 25px;
}
.emailContent {
    margin-right: 120px;
}
form input[type='email'] {
    width: 200px;
}
.emailBtn {
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 12px 23px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 115px;
    height: 55px;
    position: absolute;
    cursor: pointer;
}
.subscribeTitle {
    font-size: 15px;
}
.footerHeading h1 {
    font-size: 20px;
}
}